{% extends 'content.html' %}
{% load static %}
{% block content %}

    <div class="center padding40" style="margin-top: 4%">
        <div class="bg-blue">
            <div class="bg-white padding50" style="margin-left: 20px;margin-right: 20px">

                <form method="post" action="" class="pure-form pure-form-aligned center">
                    <h2>Update Password</h2>
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="password">Old Password</label>
                            <input required class="pure-input-1-3" name="old_password" pattern=".{6,}" type="password" placeholder="Your Current Password here">
                        </div>
                        <div class="pure-control-group">
                            <label for="password">New Password</label>
                            <input required class="pure-input-1-3" name="new_password" pattern=".{6,}" type="password" placeholder="Your New Password here">
                        </div>
                        {% csrf_token %}
                        <div class="pure-control-group">
                            <label for="password">Password Again</label>
                            <input required class="pure-input-1-3" name="new_password_again" pattern=".{6,}" type="password" placeholder="Your New Password here again">
                        </div>
                        <div class="pure-controls">
                            <label class="error">{{ error }}</label>
                        </div>

                        <div class="pure-controls">
                            <button type="submit" class="pure-button pure-button-primary" >Change Password</button>
                        </div>


                    </fieldset>
                </form>
            </div>
            <div class="bg-wheat padding10">
                <div class="pure-g" style="margin-left: 20px;margin-right: 20px;">
                    <a href="#" class="pure-u-1-6 padding10 profile-sub-menu">
                        My Alerts
                    </a>
                    <a href="#" class="pure-u-1-6 padding10 profile-sub-menu">
                        My Groups
                    </a>
                    <a href="#" class="pure-u-1-6 padding10 profile-sub-menu">
                        My Activity
                    </a>
                    <a href="#" class="pure-u-1-6 padding10 profile-sub-menu">

                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}