<form id="my_form" action="{% url 'Registrations:forgotpassword_view' %}" accept-charset="utf-8" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p id="error" style="color:indianred;text-align: center;text-wrap: normal"></p>
    <button class="orange-big open-sans-semibold"
            onclick="send_form();" type="button"> Continue</button>
</form>

<script>
    //send form data
    function send_form(){
        Dajaxice.Registrations.check_forgot_password(callback_login,{'form':$('#my_form').serializeForm(true)});
        return false;
    }
    //wait for response
    function callback_login(data){

        //do stuff
        if(data.message == "VALID"){
            $('#my_form').submit();
        }
        else{
            document.getElementById("error").innerHTML = "User doesn't exist";
        }
    }
</script>