<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,800' rel='stylesheet' type='text/css'>
	-->
{% load static %}
{% load dajaxice_templatetags %}
<html>
<head>
    {% include 'styles.html' %}
    <title>{{ title }}</title>
</head>

<body>
<div class="body-wrapper">
    <div class="content-wrapper">
        <div class="header">
            <div class="logo-info open-sans-light">
            </div>
            <div class="sign-info">
                <div class="sign-info-holder">
                    <ul>
                        <li><a href="{% url 'Registrations:login_view' %}" class="open-sans-semibold">Sign In</a></li>
                        <li><button onclick="window.location='{% url 'Registrations:register_createview' %}'" class="orange-medium open-sans-semibold">Register</button></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content-holder">
            <div class="content-box">
                <div class="function-box">
                    <div class="open-sans-extrabold head">Forgot Password</div>
                    <!--<div class="info-1 open-sans-semibold">Sign up successfull <a href="#">sign In</a> to continue</div>-->
                    <div class="form">
                            {% include 'mods/enter_forgotpassword.html' %}
                        <button class="grayish-big open-sans-semibold"
                                onclick="window.location='{% url 'Registrations:login_view' %}'"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer open-sans-extrabold">
        <div class="logo-tag">{{ title }}</div>
        <ul class="open-sans-semibold">
            <li><a>How it works</a></li>
            <li><a>Supported Domains</a></li>
            <li><a>List of Sub Domains</a></li>
            <li><a>Cookie Policy</a></li>
            <li><a>How it works</a></li>
            <li><a>Supported Domains</a></li>
            <li><a>List of Sub Domains</a></li>
            <li><a>Cookie Policy</a></li>
        </ul>
    </div>
</div>
</body>
{% dajaxice_js_import %}
{% include 'scripts.html' %}
</html>
<style>

    .content-holder{margin-top:90px;}
    .content-box{max-width:600px !important;}
    .head{background:#eee;width:100%;padding:20px 0px;text-align: center;font-size: 25px;color:#3cbbea;}


    .function-box{padding:0px !important;overflow:hidden;}
    .form{padding:20 20px 40px 20px !important;}
    .form button{margin-top:15px !important;}
</style>
