{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% load notifications_tags %}
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}

    <link href="{% static 'css/kube.min.css' %}" rel="stylesheet"/>
    {% include 'styles_loggedIn.html' %}
</head>
<body>
<div class="main">
    <div class="custom-menu-wrapper" style="padding: 5px">
        <div class="pure-menu custom-menu custom-menu-top">
            <a href="#" class="pure-menu-heading custom-menu-brand open-sans-extrabold">
                <span class="open-sans-extrabold">{{ title }}</span>
            </a>
            <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>

        </div>
        <div class="home-menu pure-menu pure-menu-horizontal custom-menu custom-menu-bottom custom-menu-tucked"

             id="tuckedMenu">
            <div class="custom-menu-screen"></div>
            <ul class="pure-menu-list open-sans-semibold">
                <li class="pure-menu-item"><a href="{% url 'Groups:group_view' %}" class="pure-menu-link">Groups</a>
                </li>
                <li class="pure-menu-item"><a href="{% url 'Alerts:alert_view' %}" class="pure-menu-link">Alerts</a>
                </li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Admin</a></li>
            </ul>

        </div>
        <div class="pure-menu pure-menu-horizontal custom-menu custom-menu-bottom custom-menu-tucked float-right"
             id="tuckedMenu1" style="margin-right: 8rem;">
            <ul class="pure-menu-list open-sans-semibold float-right">

                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Notifications</a>
                    <ul class="pure-menu-children notification-container">
                        <div style="padding: 8px;">
                            <li class="notification-block"><a href="#" class="notification">An alert is generated please
                                something mouse keys etc and everything check...</a></li>
                            <li class="notification-block"><a href="#" class="notification">Twitter</a></li>
                            <li class="notification-block"><a href="#" class="notification">Tumblr Blog</a></li>
                        </div>
                        <li class="notification-all-block"><a href="#" class="notification-all">See All</a></li>
                    </ul>
                </li>

                <li class="pure-menu-item">
                    <a href="{% url 'Profiles:profile_view' id=user.id %}" class="">
                        <div class="rcorners2">
                            <img class="profile-img-small"
                                 src="{{ user.profile_img_path }}">
                        </div>
                    </a>
                </li>
                <li class="pure-menu-item"><a href="{% url 'Profiles:profile_view' id=user.id %}"
                                              class="custom-pure-menu-link selected-menu" style="text-decoration: none">
                    {{ user.first_name }}
                </a></li>
                <li class="pure-menu-item"><a href="{% url 'Registrations:logout_view' %}"
                                              class="pure-menu-link">Logout</a></li>
            </ul>
        </div>
    </div>
    <script>
        (function (window, document) {
            document.getElementById('toggle').addEventListener('click', function (e) {
                document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
                document.getElementById('toggle').classList.toggle('x');
                document.getElementById('tuckedMenu1').classList.toggle('custom-menu-tucked');
                document.getElementById('toggle1').classList.toggle('x');
            });
        })(this, this.document);
    </script>
    <div class="body-wrapper cont">
        {% block content %}

        {% endblock %}

        <div class="footer open-sans-extrabold" id="footer">
            <div class="logo-tag">{{ title }}</div>
            <ul class="open-sans-semibold">
                <li><a>How it works</a></li>
                <li><a>Supported Domains</a></li>
                <li><a>List of Sub Domains</a></li>
                <li><a>Cookie Policy</a></li>
                <li><a>How it works</a></li>
                <li><a>Supported Domains</a></li>
                <li><a>List of Sub Domains</a></li>
                <li><a>Cookie Policy</a></li>
            </ul>
        </div>

    </div>

</div>
<script src="{% static 'js/jquery1.11.1.js' %}" type="text/javascript"></script>
{% block js_block %}

{% endblock %}
</body>
</html>
